.main-panel {
  width: 100%;
  margin-top: 50px;
}

.search-panel {
  width: 100%
}

.map-container {
  position:absolute;
  width: 1000px;
  height: 400px;
  left: 50%;
  margin-left: -500px;
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  height: 100px;
}

.offset-columns-left {
  margin-left: auto;
}

.offset-columns-right {
  margin-right: auto;
}